<section class="main-header">
    <div class="failwhale">
        <h1>Twitter-copyへようこそ</h1>
        <p>このサイトは「DIVER 大課題１」の提出物です。</p>

        <button type="button" class="btn btn-default btn-lg" onclick="location.href='https://enigmatic-ocean-60285.herokuapp.com/tweets'">　 　ロ グ イ ン し て 進 む 　　 </button>

<!--<div class="button-login"><%= button_to 'ログインして進む', tweets_path, method: :get %></div>-->

    </div>
</section>